# Trabalho - Working Python
## Prof. André Insardi
### André Pereira - RM 345063

In [51]:
import pandas as pd

In [52]:
df50k = pd.read_csv('Consulta_50000_uber_def.csv',sep=';', decimal=",")
df10k = pd.read_csv('Consulta_10000_uber_def.csv',sep=';', decimal=",")

df = pd.concat([df50k,df10k])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ResponsePriceID         60000 non-null  int64
 1   RequestLocationID       60000 non-null  int64
 2   localized_display_name  60000 non-null  object
 3   distance                60000 non-null  float64
 4   display_name            60000 non-null  object
 5   product_id              60000 non-null  object
 6   high_estimate           60000 non-null  int64
 7   surge_multiplier        60000 non-null  int64
 8   minimum                 0 non-null      float64
 9   low_estimate            60000 non-null  int64
 10  duration                60000 non-null  int64
 11  estimatePrice           60000 non-null  object
 12  estimateTime            60000 non-null  int64
 13  currency_code           60000 non-null  object
 14  date                    60000 non-null  object
 15  time                    60000 non-null  object
 16  datetime                60000 non-null  object
dtypes: float64(2), int64(7), object(8)
memory usage: 8.2+ MB

In [53]:
df

,ResponsePriceID,RequestLocationID,localized_display_name,distance,display_name,product_id,high_estimate,surge_multiplier,minimum,low_estimate,duration,estimatePrice,estimateTime,currency_code,date,time,datetime
0,366,19256,UberX,21.99,UberX,84b66fec-3a48-4e62-b403-2fb9a420900a,86,0,NaN,69,3300,R$69-86,420,UberX,14/08/2018,19:30:27,14/08/2018 19:30
1,366,19256,UberX,21.99,UberX,84b66fec-3a48-4e62-b403-2fb9a420900a,86,0,NaN,69,3300,R$69-86,540,UberX,14/08/2018,19:30:27,14/08/2018 19:30
2,374,19256,Select,21.99,Select,6b332194-01f3-4845-9719-a59f85e3ef3b,93,0,NaN,76,3300,R$76-93,420,Select,14/08/2018,19:30:36,14/08/2018 19:30
3,374,19256,Select,21.99,Select,6b332194-01f3-4845-9719-a59f85e3ef3b,93,0,NaN,76,3300,R$76-93,540,Select,14/08/2018,19:30:36,14/08/2018 19:30
4,439,19256,Black,21.99,Black,7a400fa1-e332-4ccc-b081-fa0615ca8c8a,125,0,NaN,101,3300,R$101-125,420,Black,14/08/2018,19:30:38,14/08/2018 19:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,4641,19948,Select,9.70,Select,6b332194-01f3-4845-9719-a59f85e3ef3b,49,0,NaN,39,2520,R$39-49,480,Select,14/08/2018,19:33:16,14/08/2018 19:33
9996,4642,19947,Select,9.92,Select,6b332194-01f3-4845-9719-a59f85e3ef3b,49,0,NaN,39,2400,R$39-49,540,Select,14/08/2018,19:33:16,14/08/2018 19:33
9997,4642,19947,Select,9.92,Select,6b332194-01f3-4845-9719-a59f85e3ef3b,49,0,NaN,39,2400,R$39-49,240,Select,14/08/2018,19:33:16,14/08/2018 19:33
9998,4642,19947,Select,9.92,Select,6b332194-01f3-4845-9719-a59f85e3ef3b,49,0,NaN,39,2400,R$39-49,240,Select,14/08/2018,19:33:16,14/08/2018 19:33
9999,4646,20047,Bag,17.83,Bag,c0a6bfa8-a9fd-48a8-9183-7c0dedbf58a2,80,0,NaN,65,4200,R$65-80,1380,Bag,14/08/2018,19:33:16,14/08/2018 19:33

#### 1 - Descreva a quantidade de produtos mapeados

Foram 7 produtos no total

In [54]:
df['display_name'].nunique()

7

In [55]:
df['display_name'].value_counts()

UberX        10239
Select       10023
Black         9645
Bag           9446
Black Bag     9165
Bike Rack     8915
Pool          2567
Name: display_name, dtype: int64

##### 2 - Valor médio de uma corrida
57.93245

In [56]:
df['valor_medio'] = df[['high_estimate', 'low_estimate']].mean(axis=1)
valor_medio

0        77.5
1        77.5
2        84.5
3        84.5
4       113.0
        ...
9995     44.0
9996     44.0
9997     44.0
9998     44.0
9999     72.5
Length: 60000, dtype: float64

In [57]:
valor_medio_corrida = valor_medio.mean()
valor_medio_corrida

57.93245

#####    3 - Valor médio por localidade e por produto

In [58]:
df.groupby(['RequestLocationID','display_name']).mean()['valor_medio']

RequestLocationID  display_name
19256              Bag              91.0
                   Bike Rack        81.5
                   Black           113.0
                   Black Bag       133.0
                   Select           84.5
                                   ...
22576              Black Bag       112.5
                   Select           69.0
                   UberX            59.5
22577              Select           68.5
                   UberX            59.5
Name: valor_medio, Length: 15421, dtype: float64

##### 4 -Tempo médio por Localidade

In [60]:
df.groupby('RequestLocationID').mean()['estimateTime']

RequestLocationID
19256    480.000000
19257    300.000000
19258    480.000000
19259    780.000000
19260    300.000000
            ...
22573    180.000000
22574    276.000000
22575    276.000000
22576    264.000000
22577    231.428571
Name: estimateTime, Length: 2627, dtype: float64

#####    5 - Km médio por localidade

In [63]:
df.groupby('RequestLocationID').mean()['distance']

RequestLocationID
19256    21.99
19257    21.72
19258    21.16
19259    28.87
19260    22.14
         ...
22573    14.28
22574    14.51
22575    14.66
22576    20.01
22577    19.68
Name: distance, Length: 2627, dtype: float64

#####   6 - Valor médio por dia e por produto

In [66]:
df.groupby(['date','display_name']).mean()['valor_medio']

date        display_name
14/08/2018  Bag             55.362058
            Bike Rack       50.305440
            Black           69.954121
            Black Bag       84.580524
            Pool            22.131671
            Select          52.549287
            UberX           46.012550
Name: valor_medio, dtype: float64

#####   7 -  Tempo médio por dia

In [67]:
df.groupby('date').mean()['estimateTime']

date
14/08/2018    350.114
Name: estimateTime, dtype: float64

##### 8 - Km médio por dia

In [68]:
df.groupby('date').mean()['distance']

date
14/08/2018    13.07439
Name: distance, dtype: float64